<!DOCTYPE html>
<html>
<title> employee form</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>Employee</b></h1>
  
</header>

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-col l8 s12">
  <!-- Blog entry -->
  <center><div class="w3-card-4 w3-margin w3-white">
  
    <div class="w3-container">
     <center> 
     <form action="/employeeprocess">
     <br><br>
     Name <input type="text" name="empname">
     <br><br>
     experience <input type="number" name="exp" >
     <br><br>
	<input type="checkbox" id="vehicle1" name="vehicle1" value="c++">
<label for="vehicle1">c++</label><br>
<input type="checkbox" id="vehicle2" name="vehicle2" value="java">
<label for="vehicle2"> java</label><br>
<input type="checkbox" id="vehicle3" name="vehicle3" value="c">
<label for="vehicle3"> c</label><br>
    </div>
    <input type="submit" name="submit">
    </center>
   
</form>
    <div class="w3-container">
     
      <div class="w3-row">
        <div class="w3-col m8 s12">
        
        </div>
        <div class="w3-col m4 w3-hide-small">
        
        </div>
      </div>
    </div>
  </div>
  <hr>

  <!-- Blog entry -->
  
<!-- END BLOG ENTRIES -->
</div>


  
  
  <hr> 
 
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->



</body>
</html>
