<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css} " />
    <link th:rel="stylesheet" th:href="@{/css/style.css}" />
    
    <title >List of Manager</title>
</head>


<!--    Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark  bg-primary">

  

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
   <ul class="navbar-nav navbar-left"> 
            <li class="nav-item "><a class="nav-link" th:href="@{/checkuser?lemail=ishanrawat71%40yahoo.com&lpass=1234567}">Back
					<span class="sr-only">(current)</span>
			</a></li></ul>
        <ul class="navbar-nav ml-auto text-uppercase">

            <li class="nav-item "><a class="nav-link" th:href="@{/}">HOME
					<span class="sr-only">(current)</span>
			</a></li>
<a href="#"><i sec:authorize="isAuthenticated()"><a th:href="@{/logout}"><i class="btn btn-primary add_cust">Logout</a></i> 

        </ul>

    </div>
</nav>
<!--    End of Navbar-->

    <section class="banner d-flex justify-content-center align-items-center">
        <div class="text-center"> <h1 class="font-weight-bold"><h3>Welcome</h3>
        <br>
        
            <h1 class="font-weight-bold"><h3>List of Clients</h3>
            <br>
           
	<div>
		<table class= "table table-striped table-bordered table-hover table-condensed">
			<thead class="thead-dark">
				<tr>
					<th>Registered Id</th>
					<th>Name</th>
					
					<th>Email</th>
					<th> Update</th>
					
					
						
				</tr>
			
			<tbody> 
		
				<tr th:each="listofexam: ${listexam}" Style = 'background: white'>
					<td th:text="${listofexam.clientid}">Duration</td>
					<td th:text="${listofexam.clientName}">Exam code</td>
					<td th:text="${listofexam.email}">Exam Name</td>
					
					
			
					<td><a th:href="@{/Updatedetails}">UPDATE DETAILS</a></td>		
				
		
					
				</tr>
				</h3>
			</tbody>
			
		</table>
	</div>

         <!-- <br><a href="Viewmanager"><button class="btn-lg text-white">Managers List</a></h1></button> -->
         




 

<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
<!-- <script th:src="@{/js/bootstrap.min.js}"></script> -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>

</html>
<!-- 
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="ISO-8859-1">
	<title>Update client</title>
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container text-center">
	<div>
		<form>
			<p>
				Welcome
			</p>
		</form>
	</div>
	<div>
		<h1>List of Members</h1>
	</div>
	
	<div>
		<table class="table table-striped table-bordered">
			<thead class="thead-dark">
				<tr>
					<th>Email</th>
					<th>Mobile</th>
					<th>Password</th>
					<th>Username</th>
					<th>Enable/Disable</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="viewmanager: ${listmanager}">
					<td th:text="${viewmanager.email}">Exam code</td>
					<td th:text="${viewmanager.mobile}">Exam Name</td>
					<td th:text="${viewmanager.password}">Duration</td>
					<td th:text="${viewmanager.userName}">Price</td>
				
				<td><a th:href="@{/enabledisable/{email}(email = ${viewmanager.email})}">Enable/Disable</a><td>
		
					
				</tr>
			</tbody>
		</table>
	</div>
</div>
</body>
</html>
 -->
