<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(content)">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css} " />
    <link th:rel="stylesheet" th:href="@{/css/style.css}" />
    

</head>


<!--    Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark  bg-primary">



    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

       <ul class="navbar-nav navbar-left"> 
            <li class="nav-item "><a class="nav-link" th:href="@{/checkuser?lemail=ishanrawat59%40gmail.com&lpass=1234567}">Back
					<span class="sr-only">(current)</span>
			</a></li></ul>
			           <ul class="navbar-nav ml-auto text-uppercase">
			            <li class="nav-item"><a class="nav-link" th:href="@{/}">HOME
					<span class="sr-only">(current)</span>
			</a></li>
			



        </ul>

    </div>
</nav>
<!--    End of Navbar-->
<h1 style="text-align: center;"> Generate RRF</h1>
    <section class="banner d-flex justify-content-center align-items-center">
 	
 <form action="/rrfprocess" style="text-align: center;">
      Experience <input type="number" name="exp" >
     <br><br>
	&nbsp;&nbsp;  
	   Skills  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" name="skills">
    </div>
    <br><br>
    
    </center>
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="submit">
</form>


<script th:src="@{/js/script.js}"></script>
<script th:src="@{/js/jquery-3.5.1.slim.min.js}"></script>
<!-- <script th:src="@{/js/bootstrap.min.js}"></script> -->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
